<nav class="navbar">
  <!-- Desktop Navigation -->
  <p-menubar [model]="menuItems()" class="desktop-nav p-2" style="border: none; background: transparent;">
    <ng-template pTemplate="start">
      @if (data$ | async; as data) {
        <a routerLink="/" class="link" style="font-weight:700; font-size: 1.1rem;">
          &lt;{{ data.name.split(' ')[0] }}/&gt;
        </a>
      } @else {
        <a routerLink="/" class="link" style="font-weight:700; font-size: 1.1rem;">Portfolio</a>
      }
    </ng-template>
  </p-menubar>

  <!-- Mobile Navigation Header -->
  <!-- <div class="mobile-nav-header">
    @if (data$ | async; as data) {
      <a routerLink="/" class="mobile-logo link">
        &lt;{{ data.name.split(' ')[0] }}/&gt;
      </a>
    } @else {
      <a routerLink="/" class="mobile-logo link">Portfolio</a>
    }
  </div> -->

  <!-- Mobile Bottom Navigation Bar -->
  <nav class="mobile-bottom-nav">
    @for (item of items; track item.label) {
      <a
        [routerLink]="item.routerLink"
        class="mobile-nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.routerLink === '/' }"
      >
        <i class="pi" [ngClass]="item.icon"></i>
        <span class="mobile-nav-label">{{ item.label }}</span>
      </a>
    }
  </nav>
</nav>
<div class="app-content">
  <router-outlet />
</div>
